* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

a.button {
  text-decoration: none;
  margin: 0 10px 20px 10px;
  color: #ffffff;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  transition: .5s ease-in-out;
}

a.button.small {
  padding: 7px 15px;
  font-size: 18px;
}

a.button.blue {
  background-color: rgb(113, 113, 210);
}

a.button.blue:hover {
  background-color: rgb(83, 83, 134);
}

a.button.orange {
  background-color: rgb(178, 167, 79);
}

a.button.orange:hover {
  background-color: rgb(121, 120, 56);
}

a.button.red {
  background-color: rgb(224, 78, 78);
}

a.button.red:hover {
  background-color: rgb(123, 58, 38);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr {
  transition: .3s ease-in-out;
}

tr:not(:first-child):hover {
  background-color: rgba(61, 9, 219, 0.758);
  color: white;
}

