/* nama file : auth.css */

/* reset seluruh html */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* kasih warna latar belakang untuk body */
body {
  background-color: rgb(197, 203, 210);
}

/* autr ukuran untuk pembungkus */
.container {
  width: 550px;
  margin: 60px auto;
  padding: 30px 40px;
  background-color: rgb(241, 244, 241);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ukuran huruf untuk login dan register */
h1 {
  font-size: 40px;
  margin: 30px 0;
}

/* ukuran hurug untuk label email dan password */
form label {
  font-size: 20px;
}

/* atur style untuk bentuk inputan form  */
form input {
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid rgba(12, 34, 235, 0.568);
  background-color: #f5f5f5;
  color: #333;
}

/* atur style a href link  */
a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  transition: .5s ease-in-out;
}

/* saat mouse di hover ubah warna backgrounya */
a:hover {
  color: #0056b3;
}

/* beri style untuk tombol login */
button {
  padding: 15px 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

/* ubah warna saat mouse di hover */
button:hover {
  background-color: #0056b3;

}

/* sat klik pada tombol maka ubah warna backgroun */
button:focus {
     outline: none;
    background-color: #0056b3;
}